/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {

	.header-logo {
		margin-left: 20px;
		a {
			i {
				margin-right: 10px;
			}
		}
	}

	.menu {
		font-size: 15px;
		li {
			width: auto;
			a {
				width: auto;
				margin: 0 auto;
				padding: 0 20px;
			}
		}
	}

	.project-info {
		font-size: 14px;
	}

	.equipment-item-info {
		font-size: 12px;
	}

	.footer-top {
		padding: 25px 30px;
	}

	.footer-section {
		margin-right: calc((100% - 313px - 242px - 324px) / 2) ;
	}

	.footer-section-info {
		ul {
			margin-right: 20px;
		}
	}

	.footer-bottom {
		padding: 15px 30px;
	}

}

	/* Medium Devices, Desktops */
	@media only screen and (max-width : 992px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (max-width : 1000px) {

		.header-wrapper {
			left: auto;
			right: auto;
		}

	}

	/* Extra Small Devices, Phones */ 
	@media only screen and (max-width : 480px) {

	}

	/* Custom, iPhone Retina */ 
	@media only screen and (max-width : 320px) {

	}